<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>

    <script>
      const roomName = "<%= roomName %>"
    </script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    
    <title>PakaPlaner</title>
</head>
<body>
    <header class="header">
        <div class="header__arrows">

     <img src="./assets/img/Asset 4.png" alt="left">
        <div class="header__selection">
            <div class="header__circle">
              
            </div>
              <a href=""> Piće </a>
        </div>
        <div class="header__selection">
            <a href=""> Hrana </a>
        </div>
        <div class="header__selection">
            <a href=""> Videoigre </a>
        </div>
        <div class="header__selection">
            <a href=""> Lokacija </a>
        </div>
        <div class="header__selection">
            <a href=""> Ostalo </a>
        </div>
        <img src="./assets/img/Asset 5.png" alt="right">
    </div>
    </header>

    <main>
        <section class="selection">
            <div class="selection__margins">
                <a href="">Vodka</a>
                <div class="selection__bar"> 
                    <div class="selection__bar-progress">

                    </div>
                </div>
            </div>
            <div class="selection__margins">
                <a href="">Piva</a>
                <div class="selection__bar"> 
                    <div class="selection__bar-progress">
                    </div>
                </div>

            </div>
            <div class="selection__margins">
                <a href="">Višnja</a>
                <div class="selection__bar"> 
                    <div class="selection__bar-progress">
                        
                    </div>
                </div>
            </div>
            <div class="selection__margins">
                <a href="">Rum</a>
                <div class="selection__bar"> 
                    <div class="selection__bar-progress">
                        
                    </div>
                </div>
            </div>
            <div class="selection__margins">
                <a href="">Piva</a>
                <div class="selection__bar"> 
                    <div class="selection__bar-progress">
                    </div>
                </div>

            </div>
            <div class="selection__margins">
                <a href="">Piva</a>
                <div class="selection__bar"> 
                    <div class="selection__bar-progress">
                    </div>
                </div>

            </div>
            <div class="selection__margins">
                <a href="">Piva</a>
                <div class="selection__bar"> 
                    <div class="selection__bar-progress">
                    </div>
                </div>
                <div class="selection__margins">
                    <a href="">Piva</a>
                    <div class="selection__bar"> 
                        <div class="selection__bar-progress">
                        </div>
                    </div>
            </div>

        </section>
        <section id="message-container">
            <form id="send-container">
                <input type="text" id="message-input">
                <button type="submit" id="send-button">Send</button>
              </form>

        </section>
    </main>
</body>
</html>