.chat{
    width: 22%;
    position: fixed;
    top: 10px;
    right: 28px;
    overflow-y: scroll;
    height: 100%;
}
.chat div {
	position: relative;
	background: #d1369c;
    border-radius: .4em;
    padding: 10px 2px 10px 10px;
    margin:10px 0 10px 0px;
}/*ovo negdi treba ic? di se stvaraju divovi u jsu*/

.chat__button{
    position: absolute;
    right: 5px;
    padding: 10px 20px;
    background-color: #b55cee;
    border: 0;
}
.chat__input{
   padding-left: 10px;
    width: 72%;
    height: 32px;
    border: 0px;
    
    
}